/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Poppins';
}
.navbar{
    display: flex;
    background-color: black;
    align-items: center;
    color: white;
    justify-content: space-around;
    padding: 20px 40px;

}
.navbar img{
    width: 80px;
}
.line{
    border:1px solid white;
    height: 40px;
    background-color: white;
}
.list{
    margin-right: 450px;
    list-style: none;
    display: flex;
    gap: 40px;   
}
.list li{
    font-size: 15px;
    font-weight: 600;
}
.list-item:first-child::after{
    content:'⌄';
   position: relative;
   bottom:4px;
   padding-left: 4px;
}
.button-small{
    padding: 10px 30px;
    border-radius: 10px;
    background-color:#ba0cc5;
    color: white;

}
.hero{
    background: url('./assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.hero-heading{
    width: 65%;
    text-align: center;
    font-size: 75px;
    font-weight: 500px;
    color: #fff;
}
.hero-description{
    text-align: center;
    font-size: 25px;
    margin:20px 10% 40px 18% ;
    color: white;
}
.button-large{
    margin:0 auto;
    padding:20px 37px;
    background-color: #ba0cc5;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    

}