*{
  margin: 0;
  padding: 0;
    background-color: #f9f5ed;
    box-sizing: border-box;
    
}
nav{
    padding: 20px 10%;
    height: 15vh;
    
}
nav ul{
    display: flex;
    align-items: center;
     
}
nav ul li{
    list-style: none;
    font-weight: 500;
    margin-right: 5%;
}
main{
    display: flex;  
    align-items: center;
    justify-content: center; 
    margin-left: 10%;
}
.leftmain{
    width: 40%;
}
.leftmain h1{
    font-size: 70px;
    font-family: ;

}
.leftmain p{
    margin:5% 0;
}
.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-weight: 100;

}
.rightmain{
    width: 60%;
}